workflow:
  serviceAccount:
    create: true
    name: argo-workflow

controller:
  workflowDefaults:
    spec:
      artifactRepositoryRef:
        configMap: artifact-repositories
        key: default-artifact-repository

artifactRepository:
  s3:
    bucket: argo-artifacts
    endpoint: minio.minio.svc.cluster.local:9000
    insecure: true 
    accessKeySecret:
      name: argo-artifacts-minio
      key: accesskey
    secretKeySecret:
      name: argo-artifacts-minio
      key: secretkey

server:
  enabled: true
  serviceType: ClusterIP
  servicePort: 2746
  
  ingress:
    enabled: false

executor:
  resources:
    requests:
      cpu: 100m
      memory: 128Mi