mode: standalone
replicas: 1

rootUser: ${minio_root_user}
rootPassword: ${minio_root_password}

persistence:
  enabled: true
  size: 10Gi
  storageClass: local-path

resources:
  requests:
    cpu: 250m
    memory: 512Mi

service:
  type: ClusterIP
  port: 9000

consoleService:
  type: ClusterIP
  port: 9001

buckets: []
users: []

makeBucketJob:
  enabled: false

makeUserJob:
  enabled: false